html {
	box-sizing: border-box;
	font-size: 10px;
	line-height: 1.42857143;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: linear-gradient(to top, #09203f 0%, #1c3e58 100%);
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

main {
	margin: auto;
}

.modal {
	background: #e55039;
	color: #FFF;
	width: 60rem;
	border-radius: 4px;
	text-align: center;
	padding: 10rem 4rem 4rem 4rem;
	position: relative;
}

.modal__icon {
	position: absolute;
	top: -3rem;
	left: 50%;
	margin-left: -165px;
	background: #e55039;
	padding: 3rem 12rem 0 12rem;
	border-radius: 50%;
}

.modal__heading {
	text-transform: uppercase;
	font-size: 2.6rem;
}

.modal p {
	font-size: 1.5rem;
}

.email-box {
	position: absolute;
	bottom: -2rem;
	left: 50%;
	margin-left: -20rem;
	width: 40rem;
}

.email-box__input {
	color: #333333;
	display: block;
	width: 100%;
	height: 4.5rem;
	border-radius: 4px;
	border: 1px solid #FFF;
	font-size: 1.4rem;
	padding: 1rem;
}

.email-box__button {
	appearance: none;
	border: none;
	background: transparent;
	font-size: 2rem;
	position: absolute;
	color: #e55039;
	right: .8rem;
	top: 1rem;
	padding: 0;
}

.email-box__button:hover,
.email-box__button:focus {
	color: #a32815;
}

.send-icon-size {
	color: #180b09;
}

@media only screen and (max-width: 600px) {
	.modal {
		width: 30rem;
	}

	.modal__icon {
		margin-left: -105px;
		padding: 3rem 6rem 0 6rem;
		border-radius: 50%;
	}

	.email-box {
		margin-left: -12.5rem;
		width: 25rem;
	}
}